td {
 padding: 10px;
 border: 1px solid white;
}

th {
 padding: 10px;
 border: 1px solid white;
}

.modal-title {
  color: #18BC9C;
  text-shadow: none;
}

.modal-label {
  color: #18BC9C;
  text-shadow: none;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display:block;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto
}
.step_success { font-size:30px }

.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative; width: 25% }
.bs-wizard > .bs-wizard-step + .bs-wizard-step { }
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px; padding:2px}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #18BC9C; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #999; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #18BC9C;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

#drop_zone {
  border: 5px dashed white;
  width:  100%;
  min-height: 200px;
  padding-top:50px; 
  padding-bottom:50px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top:50px;
/*  margin-bottom:50px; */
}

.popover-header {
  background-color: #18BC9C
}

.q {
  opacity: 0.5
}

#fileselect {
  width: 80%;
  max-width: 400px;
  margin-top: 20px;
}

.skills {
 margin-left:50px;
}

#notarise_now {
 margin-top: 35px;
}

#contact {
/*  background-color:#eee */
}

.contacttxt {
  font-size: 16px;
}

.abi {
  text-align:left;
}

#blockchain {
  background-color:#eee
}

.buttonspace {
  margin-top: 20px
}

.wrapper {
	border: 7px dotted #000;
	box-shadow: inset 0 -3px 0 0 #000, 0 3px 0 0 #000;
}

.certificate-title {
   text-align:center;
}

.dragging {
  background-color: red;
}

.icon-padding {
	margin-right: 20px;
	margin-bottom: 20px;
}

.verified {
       margin-top: 20px;
       color: green;
       font-size: 20px;
}
.unverified {
       margin-top: 20px;
       color: red;
       font-size: 20px;
}

.icon-size {
       max-width: 20px;
}

.alert-cert {
	border: 2px solid #18BC9C;
}

a.title, a.title:hover, a.title:focus, a.title:active {
  color: white
}

pre {
  color:white
}

.certificate {
  border-radius: 25px;
  border: 1px solid #666666;
  padding: 50px;
  margin-bottom: 50px;
  background-color: #444
}

.h3sp {
  margin-top: 25px;
}

.call_to_action {
  margin-top: 50px;
  margin-bottom: 50px
}

.hidden {
  display:none
}
